# coding: utf-8

"""
    py4heappe API

    No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)  # noqa: E501

    OpenAPI spec version: v6.5.0
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from py4heappe.heappe_v6.core.api_client import ApiClient


class QSchedulerApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def heappe_cluster_information_machine_architecture_get(self, **kwargs):  # noqa: E501
        """Get QScheduler machine architecture  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.heappe_cluster_information_machine_architecture_get(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int ClusterNodeTypeId: Cluster node type id
        :param int ProjectId: Project id
        :param str SessionCode: Session code
        :return: str
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.heappe_cluster_information_machine_architecture_get_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.heappe_cluster_information_machine_architecture_get_with_http_info(**kwargs)  # noqa: E501
            return data

    def heappe_cluster_information_machine_architecture_get_with_http_info(self, **kwargs):  # noqa: E501
        """Get QScheduler machine architecture  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.heappe_cluster_information_machine_architecture_get_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int ClusterNodeTypeId: Cluster node type id
        :param int ProjectId: Project id
        :param str SessionCode: Session code
        :return: str
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['ClusterNodeTypeId', 'ProjectId', 'SessionCode']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method heappe_cluster_information_machine_architecture_get" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'ClusterNodeTypeId' in params:
            query_params.append(('ClusterNodeTypeId', params['ClusterNodeTypeId']))  # noqa: E501
        if 'ProjectId' in params:
            query_params.append(('ProjectId', params['ProjectId']))  # noqa: E501
        if 'SessionCode' in params:
            query_params.append(('SessionCode', params['SessionCode']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['Bearer', 'ServiceApiKey']  # noqa: E501

        return self.api_client.call_api(
            '/heappe/ClusterInformation/MachineArchitecture', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='str',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def heappe_cluster_information_machine_calibration_get(self, **kwargs):  # noqa: E501
        """Get QScheduler machine calibration  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.heappe_cluster_information_machine_calibration_get(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int ClusterNodeTypeId: Cluster node type id
        :param str CalibrationId: Calibration identifier
        :param str Endpoint: Calibration endpoint
        :param int ProjectId: Project id
        :param str SessionCode: Session code
        :return: str
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.heappe_cluster_information_machine_calibration_get_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.heappe_cluster_information_machine_calibration_get_with_http_info(**kwargs)  # noqa: E501
            return data

    def heappe_cluster_information_machine_calibration_get_with_http_info(self, **kwargs):  # noqa: E501
        """Get QScheduler machine calibration  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.heappe_cluster_information_machine_calibration_get_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int ClusterNodeTypeId: Cluster node type id
        :param str CalibrationId: Calibration identifier
        :param str Endpoint: Calibration endpoint
        :param int ProjectId: Project id
        :param str SessionCode: Session code
        :return: str
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['ClusterNodeTypeId', 'CalibrationId', 'Endpoint', 'ProjectId', 'SessionCode']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method heappe_cluster_information_machine_calibration_get" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'ClusterNodeTypeId' in params:
            query_params.append(('ClusterNodeTypeId', params['ClusterNodeTypeId']))  # noqa: E501
        if 'CalibrationId' in params:
            query_params.append(('CalibrationId', params['CalibrationId']))  # noqa: E501
        if 'Endpoint' in params:
            query_params.append(('Endpoint', params['Endpoint']))  # noqa: E501
        if 'ProjectId' in params:
            query_params.append(('ProjectId', params['ProjectId']))  # noqa: E501
        if 'SessionCode' in params:
            query_params.append(('SessionCode', params['SessionCode']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['Bearer', 'ServiceApiKey']  # noqa: E501

        return self.api_client.call_api(
            '/heappe/ClusterInformation/MachineCalibration', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='str',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def heappe_q_scheduler_close_session_delete(self, **kwargs):  # noqa: E501
        """Close QScheduler session explicitly  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.heappe_q_scheduler_close_session_delete(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param CloseQSchedulerSessionModel body: Session identification
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.heappe_q_scheduler_close_session_delete_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.heappe_q_scheduler_close_session_delete_with_http_info(**kwargs)  # noqa: E501
            return data

    def heappe_q_scheduler_close_session_delete_with_http_info(self, **kwargs):  # noqa: E501
        """Close QScheduler session explicitly  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.heappe_q_scheduler_close_session_delete_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param CloseQSchedulerSessionModel body: Session identification
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method heappe_q_scheduler_close_session_delete" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json', 'text/json', 'application/*+json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['Bearer', 'ServiceApiKey']  # noqa: E501

        return self.api_client.call_api(
            '/heappe/QScheduler/CloseSession', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def heappe_q_scheduler_create_and_submit_job_post(self, **kwargs):  # noqa: E501
        """Create a QScheduler job with simplified specification and optional multipart payload upload per task, and submit it immediately.  # noqa: E501

        Sample JSON structure to enter into the 'model' form field:      {       \"SessionCode\": \"your-heappe-session-code\",       \"JobSpecification\": {         \"Name\": \"QuantumJob\",         \"ClusterId\": 1,         \"ProjectId\": 1,         \"Tasks\": [           {             \"Name\": \"GroverTask\",             \"MachineId\": \"iqm_simulator\",             \"WalltimeLimitSecs\": 3600,             \"PayloadPartName\": \"circuit1\",             \"UseSessions\": false           }         ]       }     }  Note: Attach your circuit payload file in the multipart/form-data request using the key name specified in 'PayloadPartName' (e.g. 'circuit1').  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.heappe_q_scheduler_create_and_submit_job_post(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str model:
        :return: SubmittedJobInfoExt
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.heappe_q_scheduler_create_and_submit_job_post_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.heappe_q_scheduler_create_and_submit_job_post_with_http_info(**kwargs)  # noqa: E501
            return data

    def heappe_q_scheduler_create_and_submit_job_post_with_http_info(self, **kwargs):  # noqa: E501
        """Create a QScheduler job with simplified specification and optional multipart payload upload per task, and submit it immediately.  # noqa: E501

        Sample JSON structure to enter into the 'model' form field:      {       \"SessionCode\": \"your-heappe-session-code\",       \"JobSpecification\": {         \"Name\": \"QuantumJob\",         \"ClusterId\": 1,         \"ProjectId\": 1,         \"Tasks\": [           {             \"Name\": \"GroverTask\",             \"MachineId\": \"iqm_simulator\",             \"WalltimeLimitSecs\": 3600,             \"PayloadPartName\": \"circuit1\",             \"UseSessions\": false           }         ]       }     }  Note: Attach your circuit payload file in the multipart/form-data request using the key name specified in 'PayloadPartName' (e.g. 'circuit1').  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.heappe_q_scheduler_create_and_submit_job_post_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str model:
        :return: SubmittedJobInfoExt
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['model']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method heappe_q_scheduler_create_and_submit_job_post" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}
        if 'model' in params:
            form_params.append(('model', params['model']))  # noqa: E501

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['multipart/form-data'])  # noqa: E501

        # Authentication setting
        auth_settings = ['Bearer', 'ServiceApiKey']  # noqa: E501

        return self.api_client.call_api(
            '/heappe/QScheduler/CreateAndSubmitJob', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='SubmittedJobInfoExt',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def heappe_q_scheduler_get_session_info_get(self, **kwargs):  # noqa: E501
        """Get QScheduler session info and state  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.heappe_q_scheduler_get_session_info_get(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str SessionCode: HEAppE session code
        :param int SessionId: QScheduler session ID (returned by OpenSession)
        :return: QSchedulerSessionInfoExt
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.heappe_q_scheduler_get_session_info_get_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.heappe_q_scheduler_get_session_info_get_with_http_info(**kwargs)  # noqa: E501
            return data

    def heappe_q_scheduler_get_session_info_get_with_http_info(self, **kwargs):  # noqa: E501
        """Get QScheduler session info and state  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.heappe_q_scheduler_get_session_info_get_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str SessionCode: HEAppE session code
        :param int SessionId: QScheduler session ID (returned by OpenSession)
        :return: QSchedulerSessionInfoExt
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['SessionCode', 'SessionId']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method heappe_q_scheduler_get_session_info_get" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'SessionCode' in params:
            query_params.append(('SessionCode', params['SessionCode']))  # noqa: E501
        if 'SessionId' in params:
            query_params.append(('SessionId', params['SessionId']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['Bearer', 'ServiceApiKey']  # noqa: E501

        return self.api_client.call_api(
            '/heappe/QScheduler/GetSessionInfo', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='QSchedulerSessionInfoExt',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def heappe_q_scheduler_get_task_artifact_get(self, **kwargs):  # noqa: E501
        """Get QScheduler task artifact by name.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.heappe_q_scheduler_get_task_artifact_get(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str SessionCode: HEAppE session code
        :param int SubmittedTaskId: HEAppE Task ID
        :param str ArtifactName: Artifact name (e.g. measurements, measurements_counts, sweep_results)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.heappe_q_scheduler_get_task_artifact_get_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.heappe_q_scheduler_get_task_artifact_get_with_http_info(**kwargs)  # noqa: E501
            return data

    def heappe_q_scheduler_get_task_artifact_get_with_http_info(self, **kwargs):  # noqa: E501
        """Get QScheduler task artifact by name.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.heappe_q_scheduler_get_task_artifact_get_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str SessionCode: HEAppE session code
        :param int SubmittedTaskId: HEAppE Task ID
        :param str ArtifactName: Artifact name (e.g. measurements, measurements_counts, sweep_results)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['SessionCode', 'SubmittedTaskId', 'ArtifactName']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method heappe_q_scheduler_get_task_artifact_get" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'SessionCode' in params:
            query_params.append(('SessionCode', params['SessionCode']))  # noqa: E501
        if 'SubmittedTaskId' in params:
            query_params.append(('SubmittedTaskId', params['SubmittedTaskId']))  # noqa: E501
        if 'ArtifactName' in params:
            query_params.append(('ArtifactName', params['ArtifactName']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['Bearer', 'ServiceApiKey']  # noqa: E501

        return self.api_client.call_api(
            '/heappe/QScheduler/GetTaskArtifact', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def heappe_q_scheduler_get_task_result_get(self, **kwargs):  # noqa: E501
        """Get QScheduler task result (IQM metadata, timeline, etc.)  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.heappe_q_scheduler_get_task_result_get(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str SessionCode: HEAppE session code
        :param int SubmittedTaskId: HEAppE Task ID
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.heappe_q_scheduler_get_task_result_get_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.heappe_q_scheduler_get_task_result_get_with_http_info(**kwargs)  # noqa: E501
            return data

    def heappe_q_scheduler_get_task_result_get_with_http_info(self, **kwargs):  # noqa: E501
        """Get QScheduler task result (IQM metadata, timeline, etc.)  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.heappe_q_scheduler_get_task_result_get_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str SessionCode: HEAppE session code
        :param int SubmittedTaskId: HEAppE Task ID
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['SessionCode', 'SubmittedTaskId']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method heappe_q_scheduler_get_task_result_get" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'SessionCode' in params:
            query_params.append(('SessionCode', params['SessionCode']))  # noqa: E501
        if 'SubmittedTaskId' in params:
            query_params.append(('SubmittedTaskId', params['SubmittedTaskId']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['Bearer', 'ServiceApiKey']  # noqa: E501

        return self.api_client.call_api(
            '/heappe/QScheduler/GetTaskResult', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def heappe_q_scheduler_list_sessions_get(self, **kwargs):  # noqa: E501
        """List QScheduler sessions with optional state, cluster, and project filters.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.heappe_q_scheduler_list_sessions_get(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str SessionCode: HEAppE session code
        :param str State: Optional state filter (\"Open\" or \"Closed\")
        :param int ClusterId: Optional cluster ID filter
        :param int ProjectId: Optional project ID filter
        :return: list[QSchedulerSessionInfoExt]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.heappe_q_scheduler_list_sessions_get_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.heappe_q_scheduler_list_sessions_get_with_http_info(**kwargs)  # noqa: E501
            return data

    def heappe_q_scheduler_list_sessions_get_with_http_info(self, **kwargs):  # noqa: E501
        """List QScheduler sessions with optional state, cluster, and project filters.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.heappe_q_scheduler_list_sessions_get_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str SessionCode: HEAppE session code
        :param str State: Optional state filter (\"Open\" or \"Closed\")
        :param int ClusterId: Optional cluster ID filter
        :param int ProjectId: Optional project ID filter
        :return: list[QSchedulerSessionInfoExt]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['SessionCode', 'State', 'ClusterId', 'ProjectId']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method heappe_q_scheduler_list_sessions_get" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'SessionCode' in params:
            query_params.append(('SessionCode', params['SessionCode']))  # noqa: E501
        if 'State' in params:
            query_params.append(('State', params['State']))  # noqa: E501
        if 'ClusterId' in params:
            query_params.append(('ClusterId', params['ClusterId']))  # noqa: E501
        if 'ProjectId' in params:
            query_params.append(('ProjectId', params['ProjectId']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['Bearer', 'ServiceApiKey']  # noqa: E501

        return self.api_client.call_api(
            '/heappe/QScheduler/ListSessions', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[QSchedulerSessionInfoExt]',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def heappe_q_scheduler_machine_architecture_get(self, **kwargs):  # noqa: E501
        """Get QScheduler machine architecture  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.heappe_q_scheduler_machine_architecture_get(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int ClusterNodeTypeId: Cluster node type id
        :param int ProjectId: Project id
        :param str SessionCode: Session code
        :return: str
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.heappe_q_scheduler_machine_architecture_get_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.heappe_q_scheduler_machine_architecture_get_with_http_info(**kwargs)  # noqa: E501
            return data

    def heappe_q_scheduler_machine_architecture_get_with_http_info(self, **kwargs):  # noqa: E501
        """Get QScheduler machine architecture  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.heappe_q_scheduler_machine_architecture_get_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int ClusterNodeTypeId: Cluster node type id
        :param int ProjectId: Project id
        :param str SessionCode: Session code
        :return: str
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['ClusterNodeTypeId', 'ProjectId', 'SessionCode']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method heappe_q_scheduler_machine_architecture_get" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'ClusterNodeTypeId' in params:
            query_params.append(('ClusterNodeTypeId', params['ClusterNodeTypeId']))  # noqa: E501
        if 'ProjectId' in params:
            query_params.append(('ProjectId', params['ProjectId']))  # noqa: E501
        if 'SessionCode' in params:
            query_params.append(('SessionCode', params['SessionCode']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['Bearer', 'ServiceApiKey']  # noqa: E501

        return self.api_client.call_api(
            '/heappe/QScheduler/MachineArchitecture', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='str',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def heappe_q_scheduler_machine_calibration_get(self, **kwargs):  # noqa: E501
        """Get QScheduler machine calibration  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.heappe_q_scheduler_machine_calibration_get(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int ClusterNodeTypeId: Cluster node type id
        :param str CalibrationId: Calibration identifier
        :param str Endpoint: Calibration endpoint
        :param int ProjectId: Project id
        :param str SessionCode: Session code
        :return: str
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.heappe_q_scheduler_machine_calibration_get_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.heappe_q_scheduler_machine_calibration_get_with_http_info(**kwargs)  # noqa: E501
            return data

    def heappe_q_scheduler_machine_calibration_get_with_http_info(self, **kwargs):  # noqa: E501
        """Get QScheduler machine calibration  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.heappe_q_scheduler_machine_calibration_get_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int ClusterNodeTypeId: Cluster node type id
        :param str CalibrationId: Calibration identifier
        :param str Endpoint: Calibration endpoint
        :param int ProjectId: Project id
        :param str SessionCode: Session code
        :return: str
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['ClusterNodeTypeId', 'CalibrationId', 'Endpoint', 'ProjectId', 'SessionCode']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method heappe_q_scheduler_machine_calibration_get" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'ClusterNodeTypeId' in params:
            query_params.append(('ClusterNodeTypeId', params['ClusterNodeTypeId']))  # noqa: E501
        if 'CalibrationId' in params:
            query_params.append(('CalibrationId', params['CalibrationId']))  # noqa: E501
        if 'Endpoint' in params:
            query_params.append(('Endpoint', params['Endpoint']))  # noqa: E501
        if 'ProjectId' in params:
            query_params.append(('ProjectId', params['ProjectId']))  # noqa: E501
        if 'SessionCode' in params:
            query_params.append(('SessionCode', params['SessionCode']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['Bearer', 'ServiceApiKey']  # noqa: E501

        return self.api_client.call_api(
            '/heappe/QScheduler/MachineCalibration', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='str',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def heappe_q_scheduler_open_session_post(self, **kwargs):  # noqa: E501
        """Open QScheduler session explicitly  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.heappe_q_scheduler_open_session_post(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param OpenQSchedulerSessionModel body: Session specification
        :return: int
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.heappe_q_scheduler_open_session_post_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.heappe_q_scheduler_open_session_post_with_http_info(**kwargs)  # noqa: E501
            return data

    def heappe_q_scheduler_open_session_post_with_http_info(self, **kwargs):  # noqa: E501
        """Open QScheduler session explicitly  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.heappe_q_scheduler_open_session_post_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param OpenQSchedulerSessionModel body: Session specification
        :return: int
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method heappe_q_scheduler_open_session_post" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json', 'text/json', 'application/*+json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['Bearer', 'ServiceApiKey']  # noqa: E501

        return self.api_client.call_api(
            '/heappe/QScheduler/OpenSession', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='int',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
